.data {
  display: flex;
  line-height: 40px;
  flex-direction: column;
  width: 400px;
  margin-right: 25px;
}

.weekday {
  text-align: left;
  font-weight: 600;
  font-size: 40px;
}
.day {
  /* margin-top: -11px; */
  text-align: right;
  font-size: 30px;
}
