# Указывает, что это корневой файл EditorConfig
root = true

# Настройки для всех файлов
[*]
charset = utf-8                    # Кодировка UTF-8
indent_style = tab                 # Использовать tab
indent_size = 2                    # Размер отступа в 2 пробела
end_of_line = lf                   # Линейные окончания в стиле Unix
trim_trailing_whitespace = true    # Удаляет пробелы в конце строк
insert_final_newline = true        # Добавляет пустую строку в конце каждого файла

# Настройки для Markdown файлов
[*.md]
trim_trailing_whitespace = false   # В Markdown могут быть пробелы в конце строки, поэтому отключаем

# Настройки для конфигурационных файлов
[*.{yml,yaml,json}]
indent_size = 2                    # Отступ в 2 пробела для файлов YAML и JSON

# Настройки для SCSS и CSS файлов
[*.{css,scss}]
indent_size = 2                    # Отступ в 2 пробела для стилей

# Настройки для HTML файлов
[*.html]
indent_size = 2                    # Отступ в 2 пробела для HTML

# Настройки для табличных файлов, если используются табы
[Makefile]
indent_style = tab                 # Использовать табы в Makefile