.flex {
  display: flex;
}

header {
  margin: 15px 15px 10px 15px;

  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.logo {
  align-items: center;
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 35px;
    letter-spacing: -2.5px;
    color: #002478;
    font-size: 40px;
    font-weight: 800;
    span {
      font-size: 30px;
      font-weight: 600;
    }
  }
}

.time h2 {
  font-size: 50px;
}

.data {
  line-height: 40px;
  flex-direction: column;
  width: 400px;

  .weekday {
    text-align: left;
    font-size: 40px;
  }
  .day {
    text-align: right;
    font-size: 30px;
  }
}
