.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.col_1 {
  width: 35%;
}
.col_2 {
  margin-left: -17%;
  margin-right: 7.5%;
}
.col_3 {
  width: 17%;
}

p,
h1 {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.logo {
  display: flex;
  align-items: center;
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 35px;
    letter-spacing: -2.5px;
    color: #002478;
    font-size: 40px;
    font-weight: 600;
    span {
      font-size: 30px;
      font-weight: 500;
    }
  }
}
